@keyframes fadein {
    from { opacity: 0; margin-top: 20px; }
    to   { opacity: 1; margin-top: 0; }
}
* {
    box-sizing: border-box;
}
#logo {
    height: 24px;
    margin-left: 10px;
}
#leader {
    animation: fadein 1s;
}
